@charset "UTF-8";
/* ベースのスタイル
------------------------------------------ */
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #333;
}
a {
    text-decoration: none;
}
a,
a:hover,
a i {
}
p {
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
ul {
    list-style: none;
}
/* 部品
------------------------------------------ */
.section-title {
    margin-bottom: 1.5rem;
}
.container {
    width: 90%;
    margin: auto;
}

/* main
------------------------------------------ */
/* アニメーション練習
------------------------------------------ */
.circle-1, .circle-2 {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 2rem 3.5rem;
    border:  .187rem solid yellowgreen;
    border-radius: 50%;
    background-color: aquamarine;
    opacity: .7;
    
}
.circle-1 {
    animation: move-circle 3s 2s infinite;
}
.circle-2 {
    left: 12.5rem;
    top: 10rem;
    animation: move-circle-reverse 3s 2s infinite;
    /*animation-name: slideshow;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;*/
}
.circle-1, .circle-2 {
    animation-direction: normal;      /*初期値 normal*/
    animation-fill-mode: none;       /*初期値 none*/
    animation-timing-function: ease;  /*初期値 ease*/
}
.circle-1:hover, .circle-2:hover{
    animation-play-state: running;     /* 他のオプションpaused*/
}

/*
@keyframes move-circle {
    0% {
        left: 0;
        top: 0;
        transform: scale(1);
        background-color: aquamarine;
    } 
    25% {
        left: 6.25rem;
        background-color: aqua;
    }
    50% {
        left: 12.5rem;
        top: 10rem;
        transform: scale(1.25);
        background-color: blue;
    }
    75% {
        left: 6.25rem;
        background-color: lightgreen;
    }
    100% {
        left: 0;
        top: 0;
        transform: scale(1);
        background-color: aquamarine;
    }
}
@keyframes move-circle-reverse {
    0% {
        left: 12.5rem;
        top: 10;
        transform: scale(1);
        background-color: aquamarine;
    } 
    25% {
        left: 6.25rem;
        background-color: aqua;
    }
    50% {
        left: 0;
        top: 0;
        transform: scale(1.25);
        background-color: blue;
    }
    75% {
        left: 6.25rem;
        background-color: lightgreen;
    }
    100% {
        left: 12.5rem;
        top: 10rem;
        transform: scale(1);
        background-color: aquamarine;
    }
}
*/
.text-1 {
    margin-bottom: 2rem;
}
/* CSSの小技
------------------------------------------ */
.technique-1 {
    padding: 1rem;
}
.technique-1 button, .technique-1 span {
    vertical-align: middle;
}
.technique-title {
    margin: 2rem 0;
}
.technique-circle {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgb(0, 211, 0);
}
.technique-arrow {
    position: relative;
    display: inline-block;
    width: 12rem;
    height: 2rem;
    margin-left: 2rem;
    line-height: 2rem;
    font-size: .75rem;
    color: #fff;
    border-radius: .2rem;
    background: linear-gradient(90deg, #ffdd00 0%, #ffb01e 50%, orange 100%);
    transition: box-shadow .3s;
}
.technique-arrow:hover {
    box-shadow: .2rem .2rem .2rem rgb( 0, 0, 0, .2);
}
.technique-arrow::after {
    position: absolute;
    top: calc(50% - .2rem);
    right: 1.5rem;
    display: inline-block;
    content: "";
    width: .55rem;
    height: .55rem;
    border-top: #fff solid .124rem;
    border-right: #fff solid .124rem;
    transform:rotate(45deg);
    transition: right .3s;
}
.technique-arrow:hover::after {
    right: 1.3rem;
}
.technique-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2rem;
    border-style: solid;
    border-width: 0 2.8rem 5rem 2.8rem;
    border-color: transparent transparent orangered transparent;
    transition: transform .3s, border-color .3s;
}
.technique-triangle:hover {
    border-color: transparent transparent rgb(255, 0, 255) transparent;
    transform: rotate(180deg);
}
/*  */
.color-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2rem;
    border: .25rem solid purple;
    width: 80%;
    margin: 0 auto 2rem;
    padding: 2rem;
}
.color-btn {
    display: inline-block;
    width: 6rem;
    height: 2rem;
    line-height: 2rem;
    font-size: .75rem;
    font-weight: bold;
    border-radius: .2rem;
    background-color: rgb(211, 123, 211);
    transition: box-shadow .3s, color .3s, background-color .3s;
}
.color-btn-clicked {
    font-size: 0;
    color: #fff;
    background-color: rgb(179, 0, 179);
    box-shadow: .2rem .2rem .2rem rgb( 0, 0, 0, .2);
}
.color-btn-clicked::before {
    content: '押したよ！';
    font-size: .75rem;
}
/* テーブル練習
------------------------------------------ */
.table {
    width: 100%;
    margin-bottom: 2rem;
}
/* コンタクトフォーム練習
------------------------------------------ */

