@charset "UTF-8";
/* ベースのスタイル
------------------------------------------ */
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #333;
}
a {
    text-decoration: none;
}
p {
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
ul {
    list-style: none;
}
/* 部品
------------------------------------------ */
.section-title {
    margin-bottom: 1.5rem;
    text-align: center;
}
.container {
    width: 90%;
    margin: auto;
}

/* main
------------------------------------------ */
/* アニメーション練習
------------------------------------------ */
.circle-1, .circle-2 {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 2rem 3.5rem;
    border:  .187rem solid yellowgreen;
    border-radius: 50%;
    background-color: aquamarine;
    opacity: .7;
    
}
.circle-1 {
    animation: move-circle 3s 2s infinite;
}
.circle-2 {
    left: 12.5rem;
    top: 10rem;
    animation: move-circle-reverse 3s 2s infinite;
    /*animation-name: slideshow;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;*/
}
.circle-1, .circle-2 {
    animation-direction: normal;      /*初期値 normal*/
    animation-fill-mode: none;       /*初期値 none*/
    animation-timing-function: ease;  /*初期値 ease*/
}
.circle-1:hover, .circle-2:hover{
    animation-play-state: running;     /* 他のオプションpaused*/
}

/*
@keyframes move-circle {
    0% {
        left: 0;
        top: 0;
        transform: scale(1);
        background-color: aquamarine;
    } 
    25% {
        left: 6.25rem;
        background-color: aqua;
    }
    50% {
        left: 12.5rem;
        top: 10rem;
        transform: scale(1.25);
        background-color: blue;
    }
    75% {
        left: 6.25rem;
        background-color: lightgreen;
    }
    100% {
        left: 0;
        top: 0;
        transform: scale(1);
        background-color: aquamarine;
    }
}
@keyframes move-circle-reverse {
    0% {
        left: 12.5rem;
        top: 10;
        transform: scale(1);
        background-color: aquamarine;
    } 
    25% {
        left: 6.25rem;
        background-color: aqua;
    }
    50% {
        left: 0;
        top: 0;
        transform: scale(1.25);
        background-color: blue;
    }
    75% {
        left: 6.25rem;
        background-color: lightgreen;
    }
    100% {
        left: 12.5rem;
        top: 10rem;
        transform: scale(1);
        background-color: aquamarine;
    }
}
*/
.text-1 {
    margin-bottom: 2rem;
}
/* javascript
------------------------------------------ */
.example {
    margin: 2.5rem;
}
.button {
    width: 18.75rem;
    padding: .625rem;
    margin: .625rem 0;
    text-align: center;
    color: #fff;
    background-color: #2e7c9f;
    border-radius: .25rem;
}
#list-box {
    padding: 1.5rem;
    background-color: #cdf2ff;
}
#list {
    line-height: 1.75;
    list-style: decimal;
}
.example03 .button {
    width: 12.5rem;
    color: #000;
}
#list-color {
    line-height: 1.75;
    list-style: decimal;
}
.button-blue {
    background-color: skyblue;
}
.button-yellow {
    background-color: yellow;
}
.button-orange {
    background-color: orange;
}
/* CSSの小技
------------------------------------------ */
.technique-1 {
    padding: 1rem;
    margin-bottom: 1rem;
}
.technique-1 button, .technique-1 span {
    vertical-align: middle;
}
.technique-title {
    margin: 2rem 0;
}
.technique-circle {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 50%;
    color: #ffb01e;
    background-color: rgb(0, 211, 0);
    transition: color .2s, background-color .2s;
    cursor: pointer;
}
.technique-circle:hover {
    color: rgb(0, 211, 0);
    background-color: #ffb01e;
}
.technique-arrow {
    position: relative;
    display: inline-block;
    width: 12rem;
    height: 2rem;
    margin-left: 2rem;
    line-height: 2rem;
    font-size: .75rem;
    color: #fff;
    border-radius: .2rem;
    background: linear-gradient(90deg, #ffdd00 0%, #ffb01e 50%, orange 100%);
    transition: box-shadow .3s;
}
.technique-arrow:hover {
    box-shadow: .2rem .2rem .2rem rgb( 0, 0, 0, .2);
}
.technique-arrow::after {
    position: absolute;
    top: calc(50% - .2rem);
    right: 1.5rem;
    display: inline-block;
    content: "";
    width: .55rem;
    height: .55rem;
    border-top: #fff solid .124rem;
    border-right: #fff solid .124rem;
    transform:rotate(45deg);
    transition: right .3s;
}
.technique-arrow:hover::after {
    right: 1.3rem;
}
.technique-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2rem;
    border-style: solid;
    border-width: 0 2.8rem 5rem 2.8rem;
    border-color: transparent transparent orangered transparent;
    transition: transform .3s, border-color .3s;
}
.technique-triangle:hover {
    border-color: transparent transparent rgb(255, 0, 255) transparent;
    transform: rotate(180deg);
}
/* 小技2 */
.technich-2 {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}
.bullet-list {
    line-height: 1.5;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: rgb(255, 90, 31);
}
.bullet-list li {
    text-indent: -1em;
    padding-left: 1em;
}
.marker-tutrial-title {
    font-weight: bold;
    margin-bottom: .5rem;
}
.marker-tutrial-text {
    line-height: 1.2;
}
.marker {
    background: yellow;
    /* マーカーでbackgroundを使う場合は同じ%にする必要がある */
    background: linear-gradient(transparent 50%, yellow 50%);
}
.marker-pink {
    background: linear-gradient(transparent 50%, rgb(255, 28, 153) 50%);
}
/* 小技３ */
.technich-3 {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}
.chanpururu-title {
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #fff;
    background-color: #ffb01e;text-align: center;
}
.chanpururu-list-item h3 {
    margin-bottom: .75rem;
}
.chanpururu-list-item h3::before {
    display: block;
    width: 5.5rem;
    height: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #ffdd00;
    border-radius: .2rem;
}
.chanpururu-list-item:nth-of-type(1) h3::before {
    content: 'Point1';
}
.chanpururu-list-item:nth-of-type(2) h3::before {
    content: 'Point2';
}
.chanpururu-list-item:nth-of-type(3) h3::before {
    content: 'Point3';
}
.chanpururu-list li:not(:last-child) {
    margin-bottom: 1rem;
}
/* 変色ボタン */
.color-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2rem;
    border: .25rem solid purple;
    width: 80%;
    margin: 0 auto 2rem;
    padding: 2rem;
}
.color-btn {
    display: inline-block;
    width: 6rem;
    height: 2rem;
    line-height: 2rem;
    font-size: .75rem;
    font-weight: bold;
    border-radius: .2rem;
    background-color: rgb(211, 123, 211);
    transition: box-shadow .3s, color .3s, background-color .3s;
}
.color-btn-clicked {
    font-size: 0;
    color: #fff;
    background-color: rgb(179, 0, 179);
    box-shadow: .2rem .2rem .2rem rgb( 0, 0, 0, .2);
}
.color-btn-clicked::before {
    content: '押したよ！';
    font-size: .75rem;
}
/* テーブル練習
------------------------------------------ */
.table th, .table td {  /* th, td にborderを付ける */
    border: 0.062rem solid #000;
    padding: 1rem;
    box-sizing: border-box;
}
.table {
    width: 100%;
    margin-bottom: 2rem;
    border-collapse: collapse; /* ボーダーの */
    table-layout: fixed; /* 表のそれぞれの横幅が等しくなる */
    text-align: center;
}
.table thead {    /* background-colorはth, td につける */
    background-color: #2e7c9f;
    color: #fff;
}
.table tbody th {
    background-color: #cdf2ff;
}
.table td:hover {
    font-weight: 700;
    background-color: #ffdd00;
}
.table tfoot td, .table tfoot th {
    background-color: #ffedb3;
}
.table03 thead th:first-child {
    width: 12rem;
}
/* コンタクトフォーム練習
------------------------------------------ */
.contact {
    padding: 2rem 0;
    background-color: #ffb01e;
}
.contact .container {
    width: 85%;
}
.contact h3, .contact p {
    text-align: center;
}
.contact input, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: .625rem;
    background-color: #fff;
    border-radius: .3rem;
}
.contact button {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    background-color: rgb(232, 50, 0);  
    border-radius: 2rem; 
}
.contact input::placeholder, .contact textarea::placeholder {
    color: #777;
}
.contact input {
    height: 3.25rem;
}
.contact textarea {
    height: 6.25rem;
}