@charset "UTF-8";
/* ベースのスタイル
------------------------------------------ */
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #000;
}
a {
    color: #fff;
    text-decoration: none;
}
a,
a:hover,
a i {
    transition: all .3s;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
ul {
    list-style: none;
}
/* main
------------------------------------------ */
/* アニメーション練習 */
.circle-1, .circle-2 {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 2rem 3.5rem;
    border:  .187rem solid yellowgreen;
    border-radius: 50%;
    background-color: aquamarine;
    opacity: .7;
    
}
.circle-1 {
    animation: move-circle 3s 2s infinite;
}
.circle-2 {
    left: 12.5rem;
    top: 10rem;
    animation: move-circle-reverse 3s 2s infinite;
    /*animation-name: slideshow;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;*/
}
.circle-1, .circle-2 {
    animation-direction: normal;      /*初期値 normal*/
    animation-fill-mode: none;       /*初期値 none*/
    animation-timing-function: ease;  /*初期値 ease*/
}
.circle-1:hover, .circle-2:hover{
    animation-play-state: running;     /* 他のオプションpaused*/
}
@keyframes move-circle {
    0% {
        left: 0;
        top: 0;
        transform: scale(1);
        background-color: aquamarine;
    } 
    25% {
        left: 6.25rem;
        background-color: aqua;
    }
    50% {
        left: 12.5rem;
        top: 10rem;
        transform: scale(1.25);
        background-color: blue;
    }
    75% {
        left: 6.25rem;
        background-color: lightgreen;
    }
    100% {
        left: 0;
        top: 0;
        transform: scale(1);
        background-color: aquamarine;
    }
}
@keyframes move-circle-reverse {
    0% {
        left: 12.5rem;
        top: 10;
        transform: scale(1);
        background-color: aquamarine;
    } 
    25% {
        left: 6.25rem;
        background-color: aqua;
    }
    50% {
        left: 0;
        top: 0;
        transform: scale(1.25);
        background-color: blue;
    }
    75% {
        left: 6.25rem;
        background-color: lightgreen;
    }
    100% {
        left: 12.5rem;
        top: 10rem;
        transform: scale(1);
        background-color: aquamarine;
    }
}
.text-1 {
    margin-bottom: 2rem;
}
/* cssの小技 */
.technique-1 {
    padding: 0 1rem;
}
.technique-1 button, .technique-1 span {
    vertical-align: middle;
}
.technique-title {
    margin: 2rem 0;
}
.technique-circle {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgb(0, 211, 0);
}
.technique-arrow {
    position: relative;
    display: inline-block;
    width: 12rem;
    height: 2rem;
    margin-left: 2rem;
    line-height: 2rem;
    font-size: .75rem;
    color: #fff;
    border-radius: .2rem;
    background-color: orange;
    transition: all .3s;
}
.technique-arrow:hover {
    box-shadow: .2rem .2rem .2rem rgb( 0, 0, 0, .2);
}
.technique-arrow::after {
    position: absolute;
    top: calc(50% - .2rem);
    right: 1.5rem;
    display: inline-block;
    content: "";
    width: .55rem;
    height: .55rem;
    border-top: #fff solid .124rem;
    border-right: #fff solid .124rem;
    transform:rotate(45deg);
    transition: right .3s;
}
.technique-arrow:hover::after {
    right: 1.3rem;
}
.technique-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2rem;
    border-style: solid;
    border-width: 0 2.8rem 5rem 2.8rem;
    border-color: transparent transparent orangered transparent;
}
/* コンタクトフォーム練習 */
.contact-title {
    margin: 2rem 0;
}
/* テーブル練習 */
.table-title {
    margin: 2rem 0;
}